* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

div {
  width: 60%;
}

ul {
  list-style-type: none;
  height: 3rem;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #333;
  font-family: sans-serif;
}

li {
  float: left; //o se puede usar displa inline
}

li a {
  display: block;
  height: 3rem;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

li:hover {
  background-color: rgba(0, 0, 0, 1);
}

.active {
  background-color: #4CAF50;
}

h1 {
  margin-top: 4rem;
  margin-left: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  color: #4CAF50
}

p {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  text-align: justify;
  font-size: 1.2rem;
}

.lista {
  margin-left: 2rem;
}

.sombrear {
  background-color: rgb(202, 230, 190);
}

table {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: white;
    border-collapse: separate;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td{
    border: solid 0.5px #f2f2f2;
    border-radius: 0.5rem;
    padding: 8px;
    font-family: sans-serif;
    text-align: justify;
  }

  table th{
    background-color: #4CAF50;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 20rem;
  }

  .definicion p{
    font-family: sans-serif;
    font-size: 1rem;
  }

  label {
    margin-left: 1rem;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    color: #5f9561;

  }

img {
  margin: 2rem;
}

.datos {
  padding: 2rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 5rem;
  width: 80%;
  margin-left: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3) ;
  background-color: #fefefe;
  border-radius: 1rem;
}
.definicion {
  padding: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  width: 80%;
  margin-left: 15px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3) ;
  background-color: #fefefe;
  border-radius: 1rem;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}
button {
  width: 15%;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  transition: 0.3s;
}

button:hover {
  background-color: black;
}
